<footer>
    <hr>
    <div class="container-fluid py-5">
        <div class="text-center d-flex justify-content-center row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col">
                <div style="max-width: 360px;">
                    <img src="{{ '/assets/img/logo-mediano.png' | relative_url }}" alt="logo-mediano" class="img-fluid">
                </div>
            </div>
            <div class="col">
                <h5 class="pb-3 pt-3">DIRECCIÓN</h5>
                <a href="https://goo.gl/maps/1H4je1AgfJYVn3wF8" target="_blank" class="text-black">Avda. Ricardo Soriano, 20, 7D, 29601 Marbella</a>
                <br>
                <a href="https://goo.gl/maps/ExvZhcvRNNpWVHK96" target="_blank" class="text-black">Avda. Republica Argentina, 19C, 1C, 41011 Sevilla</a>
            </div>
            <div class="col">
                <h5 class="pb-3 pt-3">HORARIO</h5>
                <p>17:00 – 20:00</p>
                <p>Lunes- Viernes</p>
            </div>
            <div class="col">
                <h5 class="pb-3 pt-3">CONTACTO</h5>
                <p><a href="tel:+34670578505" class="text-black">+34 670 57 85 05</a></p>
                <a href="mailto:belenisanudo@gmail.com" class="text-black">belenisanudo@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center bg-dark">
        <p class="mx-2 my-2"><a href="{{ site.baseurl }}{% link aviso-legal.html %}" class="my-2 text-white">Aviso Legal</a></p>
        <p class="mx-2 my-2"><a href="{{ site.baseurl }}{% link politica-de-privacidad.html %}" class="text-white">Política de
            Privacidad</a></p>
        <p class="mx-2 my-2"><a href="{{ site.baseurl }}{% link politica-de-cookies.html %}" class="text-white">Política de Cookies</a>
        </p>
        <p class="mx-2 my-2"><a href="{{ site.baseurl }}{% link personalizar-cookies.html %}" class="text-white">Personalizar
            Cookies</a></p>
    </div>
</footer>
